
#humanBoard > div, #computerBoard > div {
    border: 1px rgba(0, 187, 255, 0.412) solid;
    width: 48px;
    height: 48px;
}

#humanBoard, #computerBoard {
    border: 1px black solid;
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}

#boardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.human-square, .computer-square {
    background-color: #2B65EC;
}



.mouseover-ship {
    background-color: #9b9b9b99;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.ship {
    background-color: rgb(0, 0, 0); 
    box-shadow: inset 0 0 10px rgb(8, 151, 218);
}


.ship-attacked {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 7vw;
    background-color: rgb(0, 0, 0); 
    box-shadow: inset 0 0 10px rgb(8, 151, 218);
    color: red;
}


.null-attacked{
    background-color: rgba(43, 101, 236, 0.6);
    box-shadow: inset 0 0 5px rgb(6, 140, 202);
}

.attack-cursor {
    cursor: crosshair;
}


.backdrop {
  pointer-events: none;
  position: fixed;
  inset: 0;
  opacity: 0%;
}

.backdrop.visible {
    opacity: 30%;
    background-color: black;
}

.game-over-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -300px);
    opacity: 0%;
    transition: transform 1s ease-in-out, opacity 0.4s ease;
    background-color: #2B65EC;
    pointer-events: none;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}


.game-over-modal.visible {
    opacity: 100%;
    transform: translate(-50%, -50%);
    pointer-events: all;
    width: 400px;
    height: 400px;
}



.game-over-modal > p {
    border: 1px blue solid;
    text-align: center;
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


  